<div class="form-groups">
<h1>プロフィールを編集する</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <table>
    <%= form_with model: @user, local: true do |form| %>
      <dl>
        <dt>ユーザー名</dt>
        <dd class="form-contact"><%= form.text_field :name %></dd>
      </dl>
      <dl>
        <dt>メールアドレス</dt>
        <dd class="form-contact"><%= form.email_field :email %></dd>
      </dl>
      <dl>
        <dt><%= form.submit "保存" %></dt>
      </dl>
    <% end %>
  </table>
</div>