<h1>MyPage <%= @user.id %></h1>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>

<table>
<% if @favorite_list.present? %>
  <thead>
    <% @favorite_list.each do |food| %>
    <tr>
      <td><%= food.item_name %></td>
      <td><%= food.comment %></td>
      <td><%= food.item_name %></td>
      <td><%= food.variety %></td>
      <td><%= food.comment %></td>
      <td><%= food.storage_method %></td>
      <td><%= food.harvest %></td>
      <td><%= food.price %></td>
      <td><%= food.stock %></td>
      <td><%= image_tag food.image.variant(resize: "100") if food.image.attached? %></td>

    <% if current_user.favorited_by?(food.id) %>
      <td>
        <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
          いいねを外す　 <i class="fa fa-heart unlike-btn"></i> 
        <% end %>
        <%= food.favorites.count %>
      </td>
      <% elsif %>
      <td>
        <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
          いいねをする　 <i class="fa fa-heart like-btn"></i> 
        <% end %>
        <%= food.favorites.count %>
      </td>
      <% end %>
      </tr>
    <% end %>
  </thead>
<% end %>
</table>
<%= link_to "プロフィール編集", edit_user_path(current_user) %>
