<h3><%= current_user.name %> マイページ</h3>

<table>
  <tr>
    <td>お名前：<%= current_user.name %></td>
  </tr>
  <tr>
    <td>メールアドレス：<%= current_user.email %></td>
  </tr>
    <td><%= link_to "プロフィール編集", edit_user_path(current_user), data: {"turbolinks" => false} %></td>
    <td><% if current_user&.admin %>
        <%= link_to "今後のスケジュール", plans_path(current_user) %>
          <%= link_to 'New Food', new_food_path %>
        <% end %></td>
  <tr>
</table>

<table>
<% if @favorite_list.present? %>
  <thead>
    <% @favorite_list.each do |food| %>
    <tr>
      <td><%= image_tag food.image.variant(resize: "225") if food.image.attached? %></td>
    </tr>
    <tr>
      <td><%= food.item_name %></td>
    </tr>
    <tr>
      <td><%= food.variety %></td>
    </tr>
    <tr>
      <td><%= food.harvest %></td>
    </tr>
    <tr>
      <td><%= food.comment %></td>
    </tr>
        <tr>
      <td><%= food.storage_method %></td>
    </tr>
    <tr>
      <td><%= food.stock %></td>
    </tr>
    <tr>
      <td><%= food.price %></td>
    </tr>
    <tr>
      <td><%= link_to 'Show', food_path(food) %></td>
    </tr>
      <% if current_user&.admin %>
      <tr>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
      </tr>
      <tr>
        <td><%= link_to 'Destroy', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

    <% if !current_user%>
    <tr>
      <td>ログインしていません。</td>
        <% elsif current_user.favorited_by?(food.id) %>
      <td>
        <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
          <i class="fa fa-heart unlike-btn fa-lg"></i>
        <% end %>
        <%= food.favorites.count %>
      </td>
      <% else %>
      <td>
        <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
          <i class="fa fa-heart like-btn fa-lg"></i>
        <% end %>
        <%= food.favorites.count %>
      </td>
    <% end %>
    </tr>
  </thead>
<% end %>
</table>
<% end %>