<h3><%= current_user.name %> マイページ</h3>

<table>
  <tr>
    <td>お名前：<%= current_user.name %></td>
  </tr>
  <tr>
    <td>メールアドレス：<%= current_user.email %></td>
  </tr>
    <td><%= link_to "プロフィール編集", edit_user_path(current_user), data: {"turbolinks" => false} %></td>
    <td><% if current_user&.admin %>
        <%= link_to "今後のスケジュール", plans_path(current_user) %>
          <%= link_to 'New Food', new_food_path %>
        <% end %></td>
  <tr>
</table>

<table>
<% if @favorite_list.present? %>
  <thead>
    <% @favorite_list.each do |food| %>
    <tr id="food_<%= food.id %>">
      <td><%= food.item_name %></td>
      <td><%= food.variety %></td>
      <%# <><%= food.comment %>
      <%# <><%= food.storage_method %>
      <td><%= food.harvest %></td>
      <td><%= food.price %></td>
      <%# <><%= food.stock %>
      <td><%= image_tag food.image.variant(resize: "100") if food.image.attached? %></td>
      <td><%= link_to 'Show', food_path(food) %></td>
      <% if current_user&.admin %>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      <% if !current_user%>
      <td>ログインしていません。</td>
        <% elsif current_user.favorited_by?(food.id) %>
        <td>
          <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
            いいねを外す　 <i class="fa fa-heart unlike-btn fa-lg"></i>
          <% end %>
          <%= food.favorites.count %>
        </td>
      <% else %>
        <td>
          <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
            いいねをする　 <i class="fa fa-heart like-btn fa-lg"></i> 
          <% end %>
          <%= food.favorites.count %>
        </td>
      <% end %>
    </tr>
  </thead>
<% end %>
</table>
<% end %>