<div class="users-show">
  <h3><%= current_user.name %> マイページ</h3>
  <table>
    <tr class="users-show-edit">
      <td class="users-show-edit">お名前：<%= current_user.name %></td>
    </tr>
    <tr>
      <td class="users-show-edit">メールアドレス：<%= current_user.email %></td>
    </tr>
  </table>

  <div class="profile-edit">
    <i class="fa-solid fa-pencil"></i>
    &nbsp;<%= link_to "プロフィール編集", edit_user_path(current_user), data: {"turbolinks" => false} %>
  </div>
</div>
<div class="food-container-favorites">
  <table>
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |food| %>
        <tbody id="food_<%= food.id %>" class="food-container">
          <tr>
            <td>
              <%= link_to (food_path(food)) do%>
                <%= image_tag food.image.variant(resize: "225") if food.image.attached? %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="food-name">
              <%= food.item_name %>
            </td>
          </tr>
          <tr>
            <td>
              品種：<%= food.variety %>
            </td>
          </tr>
          <tr>
            <td>
              収穫予定日：<%= food.harvest %>
            </td>
          </tr>
          <tr>
            <td>
              <%= food.price %>
            </td>
          </tr>
          <% if current_user&.admin %>
            <tr>
              <td>
                <%= link_to '詳しい説明をみる', food_path(food) %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to 'Edit', edit_food_path(food) %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to 'Destroy', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
          <% if !current_user%>
          <tr>
            <td>
              <%= link_to "javascript:alert('ログインしてください');", class: "favorite-link" do %>
                <i class="fa fa-heart unlike-btn fa-lg"></i>
              <% end %>
              <%= food.favorites.count %>
            </td>
            <td></td>
              <% elsif current_user.favorited_by?(food.id) %>
            <td>
              <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
                お気に入り解除<i class="fa fa-heart unlike-btn fa-lg"></i>
              <% end %>
              <%= food.favorites.count %>
            </td>
            <% else %>
            <td>
              <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
                お気に入り<i class="fa fa-heart like-btn fa-lg"></i>
              <% end %>
              <%= food.favorites.count %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>

<% if current_user&.admin %>
  <div class="button-white">
    <%= link_to "今後のスケジュール", plans_path(current_user) %>
    &nbsp;<i class="fa-solid fa-angles-right"></i></i>
  </div>
  <div class="button-white">
    <i class="fa-regular fa-pen-to-square"></i>
    &nbsp;<%= link_to 'New Food', new_food_path %>
  </div>
<% end %>