<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "件のエラー") %> が発生したため送信されませんでした。</h2>
      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="contact">お問い合わせ</h3>
  <dl>
    <dt><%= form.label :お名前 %></dt>
    <dd class="form-contact"><%= form.text_field :name, placeholder: "岡本 太郎" %></dd>
  </dl>
  <dl>
    <dt><%= form.label :メールアドレス %></dt>
    <dd class="form-contact"><%= form.text_field :email, placeholder: "tarogeijutsu@gmail.com" %></dd>
  </dl>
  <dl>
    <dt><%= form.label :お問い合わせ内容 %></dt>
    <dd class="form-contact"><%= form.text_area :message, placeholder: "例)トマトは毎年何月ぐらいに収穫しますか？" %></dd>
  </dl>
  <div class="actions">
    <%= form.submit  "送信" %>
  </div>
<% end %>
