<td><%= food.item_name %></td>
<% if !current_user%>
<td>ログインしていません。</td>
<% elsif current_user.favorited_by?(food.id) %>
  <td>
    <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
      いいねを外す　<%# <i class="fa fa-heart unlike-btn"></i> %>
    <% end %>
    <%= food.favorites.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
      いいねをする　<%# <i class="fa fa-heart like-btn"></i> %>
    <% end %>
    <%= food.favorites.count %>
  </td>
<% end %>
<td><%= link_to 'Show', food %></td>
<td><%= link_to 'Destroy', food, metod: :delete, data: { confirm: 'Are you sure?' } %></td>
