<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "件のエラー") %> が発生したため食品情報は保存されませんでした。</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field-input">
    <%= form.label :品名 %>
    <%= form.text_field :item_name %>
  </div>

  <div class="field field-input">
    <%= form.label :品種 %>
    <%= form.text_field :variety %>
  </div>

  <div class="field field-input">
    <%= form.label :内容 %>
    <%= form.text_area :comment %>
  </div>

  <div class="field field-input">
    <%= form.label :保存方法 %>
    <%= form.text_field :storage_method %>
  </div>

  <div class="field field-input">
    <%= form.label :収穫予定日 %>
    <%= form.text_field :harvest %>
  </div>

  <div class="field field-input">
    <%= form.label :料金 %>
    <%= form.text_field :price %>
  </div>

  <div class="field field-input">
    <%= form.label :在庫 %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
