<p id="notice"><%= notice %></p>
<div class="slick-list"><img class="top_main" src="/assets/main.png" alt="">
</div>
<p class="concept">内山農園ではSDGsの一環としてフードマイレージに取り組んでます。 配送によって大量に排出されるCO2。 また手塩にかけた野菜たちを廃棄することに心を痛めてます。 小さな農園のため、日本のフードマイレージ問題のほんの僅かな 問題解決にしかなりませんが、この小さな取り組みが大切だと考えています。 お近くに住む方たちに、採れたての野菜をお手頃価格でご提供しております。 フードマイレージの取り組として、収穫予定日を予めお知らせし、 ご来店いただいた方順に販売しています。</p>
<h1>9月の収穫情報</h1>
<div><%= search_form_for @q do |f| %>
  <%= f.label :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont, "キーワード検索" %>
  <%= f.search_field :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont %>
  <%= f.submit "検索" %>
<% end %>
</div>
<div><% if current_user&.admin %>
  <%= link_to 'New Food', new_food_path %>
<% end %>
</div>
<table>
  <% @foods.each do |food| %>
    <tr id="food_<%= food.id %>">
    <td><%= food.item_name %></td>
    <td><%= food.variety %></td>
    <td><%= food.harvest %></td>
    <td><%= food.price %></td>
    <td><%= image_tag food.image.variant(resize: "100") if food.image.attached? %></td>
    <td><%= link_to 'Show', food_path(food) %></td>
    <% if current_user&.admin %>
      <td><%= link_to 'Edit', edit_food_path(food) %></td>
      <td><%= link_to 'Destroy', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

    <% if !current_user%>
    <td>ログインしていません。</td>
      <% elsif current_user.favorited_by?(food.id) %>
      <td>
        <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
          いいねを外す　 <i class="fa fa-heart unlike-btn fa-lg"></i>
        <% end %>
        <%= food.favorites.count %>
      </td>
      <% else %>
      <td>
        <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
          いいねをする　 <i class="fa fa-heart like-btn fa-lg"></i>
        <% end %>
        <%= food.favorites.count %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>
<br>

<%= paginate @foods %>