<p id="notice"><%= notice %></p>
<h1>foods</h1>
<table>
  <thead>
    <tr>
      <th>item_name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr id="food_<%= food.id %>">
        <%= render 'food', food: food %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= search_form_for @q do |f| %>
  <%= f.label :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont, "Keyword" %>
  <%= f.search_field :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont %>

  <%= f.submit "検索" %>
<% end %>
<h1>Foods</h1>
<%= link_to 'New Food', new_food_path %>
