<p id="notice"><%= notice %></p>

<div class="slick-list">
  <%= image_tag (asset_path'main.png') %>
</div>

<h1 class="concept">内山農園ではSDGsの一環としてフードロスに取り組んでます。</br>お近くに住む方たちに、採れたての野菜をお手頃価格でご提供しております。</br>収穫予定日をメールで予めお知らせし、 ご来店いただいた方順に販売しています。</h1>

<div class="search-container">

  <%= search_form_for @q do |f| %>
    <%= f.label :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont, "野菜や果物名を入力してください。" %>
    <%= f.search_field :item_name_or_variety_or_comment_or_storage_method_or_harvest_or_price_cont, placeholder: "例)じゃがいも" %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="foodsTop-container">
  <% @foods.each do |food| %>
    <div class="food-container">
      <table id="food_<%= food.id %>">
        <tr>
          <td>
            <%= link_to (food_path(food)) do%>
              <%= image_tag food.image.variant(resize: "225") if food.image.attached? %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="food-name">
            <%= food.item_name %>
          </td>
        </tr>
        <tr>
          <td>
            品種：<%= food.variety %>
          </td>
        </tr>
        <tr>
          <td>
            収穫予定日：<%= food.harvest %>
          </td>
        </tr>
        <tr>
          <td class="food-comment-continue">
          <%= food.comment %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to '続きを読む', food_path(food) %>
            <i class="fa-solid fa-angles-right"></i>
          </td>
        </tr>
        <tr>
          <td class="price-red">
            <%= food.price %>
          </td>
        </tr>
        <% if current_user&.admin %>
        <tr>
          <td>
            <%= link_to 'フード情報更新・管理', food_path(food) %>
            <i class="fa-solid fa-pencil"></i>
          </td>
        </tr>
        <% end %>
        <% if !current_user%>
        <tr>
          <td>
            <%= link_to "javascript:alert('ログインしてください');", class: "favorite-link" do %>
              <i class="fa fa-heart unlike-btn fa-lg"></i>
            <% end %>
            <%= food.favorites.count %>
          </td>
          <td></td>
            <% elsif current_user.favorited_by?(food.id) %>
          <td>
            <%= link_to favorite_path(food), class: "favorite-link", method: :DELETE, remote: true do %>
              お気に入り解除<i class="fa fa-heart unlike-btn fa-lg"></i>
            <% end %>
            <%= food.favorites.count %>
          </td>
          <% else %>
          <td>
            <%= link_to create_favorite_path(food), class: "favorite-link", method: :POST, remote: true do %>
              お気に入り<i class="fa fa-heart like-btn fa-lg"></i>
            <% end %>
            <%= food.favorites.count %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
  <% end %>
</div>
</hr>
<div class="admin-top">
  <% if current_user&.admin %>
    <h3>管理者用 登録・スケジュール</h3>
    <div class="button-blue">
      <i class="fa-regular fa-pen-to-square"></i>
      &nbsp;<%= link_to '新規登録', new_food_path %>
    </div>
    <div class="button-white">
      <%= link_to "今後のスケジュール", plans_path(current_user) %>
      &nbsp;<i class="fa-solid fa-angles-right"></i>
    </div>
  <% end %>
</div>

<%= paginate @foods %>