<div class="favorites" id="favorite_<%= @food.id %>">
  <%= render 'favorites/favorite', food: @food %>
</div>

<p>
  <strong>Item name:</strong>
  <%= @food.item_name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @food.variety %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @food.comment %>
</p>

<p>
  <strong>Storage method:</strong>
  <%= @food.storage_method %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @food.harvest %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @food.stock %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @food.image.url if @food.image.present? %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
