<div class="form-groups">
  <h1 class="food-show-h1"><%= @food.item_name %> の詳細</h1>
  <p class="food-show-img">
    <%= image_tag @food.image.variant(resize: "460") if @food.image.attached? %>
  </p>
  <p>
    <strong>Item name:</strong>
    <%= @food.item_name %>
  </p>

  <p>
    <strong>Variety:</strong>
    <%= @food.variety %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @food.comment %>
  </p>

  <p>
    <strong>Storage method:</strong>
    <%= @food.storage_method %>
  </p>

  <p>
    <strong>Harvest:</strong>
    <%= @food.harvest %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @food.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @food.stock %>
  </p>

  <% if current_user&.admin %>
    <div class="button-blue-small">
      <p class="arrow">
        <i class="fa-solid fa-pencil"></i>
        <%= link_to 'Edit', edit_food_path(@food) %>
      </p>
    </div>
    <div class="button-blue-small">
      <p class="arrow">
        <i class="fa-solid fa-trash-can"></i>
        <%= link_to '削除', food_path(@food), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>

  <div class="button-white-small">
    <p class="arrow">
      <i class="fa-solid fa-angle-left"></i>
      <%= link_to 'TOP Back', foods_path %>
    </p>
  </div>

<% if current_user %>
  <div class="button-white-small">
    <p class="arrow">
      <i class="fa-solid fa-user"></i>
      <%= link_to 'My Page', users_show_path %>
    </p>
  </div>
<% end %>
