<%# <% @search_item.each do |items| %>
<%# <% if user_signed_in? && Favorite.favorite_method(@food, current_user) %> %>
  <%# <% if @favorite.present? %> %>
    <%# <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %> %>
  <%# <% else %> %>
    <%# <%= link_to 'お気に入りする', favorites_path(food_id: @food.id), method: :post, class: 'btn btn-primary' %> %>
  <%# <% end %> %>
<%# <% end %> %> %>
<div class="favorites" id="favorite_<%= @item.id %>">
  <%= render 'favorites/favorite', item: @item %>
</div>

<p>
  <strong>Item name:</strong>
  <%= @food.item_name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @food.variety %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @food.comment %>
</p>

<p>
  <strong>Storage method:</strong>
  <%= @food.storage_method %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @food.harvest %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @food.stock %>
</p>

<p>
  <strong>Image:</strong>
  <%= @food.image %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
